---
---

@import "{{ site.theme }}";

/* "row style" is flexible size and aligns pictures in center */
.row {
    align-items: center;
    display: flex;
  }
  
  /* "column style" is one-third of the width with padding */
  .column {
    flex: 33.33%;
    padding: 5px;
  }

.news1_style { 
     background-color:green; 
     color:black; 
     font-family: verdana; 
     font-size: 300%;
} 

.news2_style { 
     background-color:pink; 
     color:black; 
     font-family:  courier; 
     font-size: 200%;
} 

.news3_style { 
     background-color:orange; 
     color:black;  
     font-size: 100%;
} 
