
<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "NFLTeams" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary"><strong>NFL Teams</strong></h1>
        <script>
            const dbParam = JSON.stringify({table:"teams",limit:20});
            const xmlhttp = new XMLHttpRequest();
            xmlhttp.onload = function() {
              const myObj = JSON.parse(this.responseText);
              let text = "<table border='1'>"
              for (let x in myObj) {
                text += "<tr><td>" + myObj[x].team + "</td></tr>";
              }
              text += "</table>"    
              document.getElementById("demo").innerHTML = text;
            }
            xmlhttp.open("GET", "/api/nflteam/");
            xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xmlhttp.send("x=" + dbParam);
        </script>
        <p id="demo"></p>
    </div>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
